
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Template Mo">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">

    <title>Accident Monitoring System</title>
<!--

ART FACTORY

https://templatemo.com/tm-537-art-factory

-->
    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="../static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/assets/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="../static/assets/css/templatemo-art-factory.css">
    <link rel="stylesheet" type="text/css" href="../static/assets/css/owl-carousel.css">

    </head>

    <body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->


    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky" style="background-color:#4fbce3;">
        <div class="container" >
            <div class="row">
                <div class="col-12">
                       <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a style="color:black" href="Stationhome" class="logo">Accident Monitor</a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->

                        <ul class="nav">
                            <li class="scroll-to-section"><a style="color:black" href="Stationhome" class="active">Home</a></li>
                            <li class="submenu">
                                <a style="color:black" href="javascript:;">Staff</a>
                                <ul>
                                    <li><a style="color:black" href="LinkAddStaff">Register Staff</a></li>
                                    <li><a style="color:black"href="ViewStaff">View Staff</a></li>
                                      <li><a style="color:black" href="ViewStaffCase">Assign Case</a></li>
                                    <li><a style="color:black"href="SearchCaseStaff">Staff Case</a></li>

                                </ul>
                            </li>
                              <li class="submenu">
                                <a style="color:black" href="javascript:;">Blacklist</a>
                                <ul>
                                    <li><a style="color:black" href="LinksetBlackList">Set Blacklist</a></li>
                                    <li><a style="color:black"href="ViewBlackList">View Blacklist</a></li>
                                       <li><a style="color:black" href="MostAccidentOccuredDriver">Most Accident Occurred Driver</a></li>


                                </ul>
                            </li>
                            <li class="submenu">
                                <a style="color:black"  href="javascript:;">Vehicle</a>
                                <ul>
                                    <li><a style="color:black" href="LinkSearchOwnerDetails">Owner Details</a></li>
                                    <li><a style="color:black"  href="LinkSearchVehicleAccidentDetails">Vehicle Complaints</a></li>
                                         <li><a style="color:black" href="ViewTowedVehicle">Towed vehicle</a></li>
                                      <li><a style="color:black"  href="ViewFineDetails">Fine</a></li>
                                </ul>
                            </li>
                               <li class="submenu">
                                <a style="color:black" href="javascript:;">Location</a>
                                <ul>
                                    <li><a style="color:black" href="LinkAddLocation">Add Location</a></li>
                                    <li><a style="color:black" href="ViewLocationS">View Location</a></li>
                                </ul>
                            </li>

                            <li class="scroll-to-section"><a style="color:black" href="ViewStaffForComplaints">Complaint</a></li>
                             <li class="scroll-to-section"><a style="color:black" href="logout">LogOut</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->


    <!-- ***** Welcome Area Start ***** -->

    </div>
    <!-- ***** Welcome Area End ***** -->


    <!-- ***** Features Big Item Start ***** -->
    <section class="section" id="about">
        <div class="container">


