{% extends 'admin/index.html' %}
{% block content %}

<div class="card" style="min-height:550px;">
                  <div class="card-body">

                    <center>
                      <h2 class="card-title" style="text-transform: uppercase;">ADD FINE CATEGORY</h2>
                    </center><br><br>
                      <div class="table-responsive">
                          <form  method="post">
                              {% csrf_token %}
                      <table class="table">
                          <tr>
                              <th style="width:100px; color:white;" >Fine Category</th>
                              <td><input type="text"  name="name"></td>
                          </tr>
                          <tr>
                              <th style="width:100px; color:white;">Amount</th>
                              <td><input type="text"  name="amount"></td>
                          </tr>
                          <tr>
                              <th></th>
                              <td><input type="submit" value="save" style="color:white; background:blue;"></td>
                          </tr>
                      </table>
                          </form>
                    </div>
                  </div>
</div>
{% endblock %}