{% extends 'admin/index.html' %}
{% block content %}

<div class="card">
                  <div class="card-body">
                    <center>
                      <h2 class="card-title">HOSPITAL LIST</h2>
                    </center><br><br>
                      <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                                <th>No.</th>
                                <th>INFORMER NAME</th>
                                <th>PLACE</th>
                                <th>DETAILS</th>
                                <th>DATE</th>
                                <th>VIEW LOCATION</th>

                          </tr>
                        </thead>
                        {% for i in data %}
                        <tbody>
                          <tr>
                                <td> {{ forloop.counter }}</td>
                                <td>{{i.1}}</td>
                                <td>{{i.2}}</td>
                                <td>{{i.3}}</td>
                                <td>{{i.7}}</td>
                                <td><a href="../approvespot/{{i.0}}"><div class="badge badge-outline-warning">verify</div></a></td>
                                <td><a href="../deleteaccidentspot/{{i.0}}"><div class="badge badge-outline-danger">delete</div></a></td>
                          </tr>
                        </tbody>
                        {% endfor %}
                      </table>
                    </div>
                  </div>
</div>

{% endblock %}