{% extends 'user/index.html'%}
{% block content %}

<div class="card" style="margin-left:100px; min-height:550px;" >
                  <div class="card-body">
                    <center><br><br>

                    </center><br><br>
                      <div class="table-responsive">
                          <center> <h2 class="card-title">VIEW STATION</h2></center><br>
                      <table class="table">

                        <thead>
                          <tr>
                              <th><h4>No.</h4></th>
                              <th><h4>CATEGORY</h4></th>
                              <th><h4>AMOUNT</h4></th>
                          </tr>
                        </thead>
                        {% for i in data %}
                        <tbody>
                          <tr>
                              <td><h5>{{ forloop.counter }}</h5></td>
                              <td><h5>{{i.1}}</h5></td>
                              <td><h5>{{i.2}}</h5></td>
                              </tr>
                        </tbody>
                        {% endfor %}
                      </table>
                    </div>
                  </div>
</div>

{% endblock %}